extends layout

block content
  h1= title

  form(id='ShirtForm', action="/resource/shirts", method="POST")
    div.form-group
      label.shirtAttr(for='shirt_type') shirt Type
      input#shirt_type(type='text', name='shirt_type')
    div.form-group
      label.shirtAttr(for='shirt_size') shirt Size
      input#shirt_size(type='text', name='shirt_size')
    div.form-group
      label.shirtAttr(for='shirt_value') shirt Value 
      input#shirt_value(type='number', name='shirt_value')
    input(type="submit")

  script.
    document.forms['ShirtForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });